.controller-container {
  margin: 5px;
  border: 4px gray solid;
  border-radius: 20px;
  overflow: hidden;
}

.controller-container h2 {
  background: darkgray;
  color: white;
  height: 100%;
  margin: 0;
  padding: 10px
}

.controller-children {
    padding: 20px;
}
