.container {
  width: 100vw;
  height: 100vh;
}

.graph_node {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px gray solid;
  transition: .2s ease-in-out transform;
  transform: translate(0, 0);
}
